@font-face {
  font-family: Drept;
  src: url(../font/drept.ttf);
}

body {
  font-family: 'M PLUS 1 Code', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  cursor: url(../images/logo/mirjam.svg), auto;
}

.blur-30 {
  backdrop-filter: blur(30px);
}

.text-mplus {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.text-lacquer {
  font-family: 'Lacquer', sans-serif;
  /* Farbe nach Wunsch anpassen */
}

.meine-schrift {
  font-family: drept;
  font-weight: bold;
}
