@font-face {
  font-family: Drept;
  src: url(../font/drept.ttf);
}

body {
  cursor: url(../images/logo/mirjam.svg), auto;
}

.card-img-overlay {
  display: none;
}

.card-img-overlay:hover {
  display: block;
}

.meine-schrift {
  font-family: drept;
  font-weight: bold;
}
