
        
body {
            font-family: 'M PLUS 1 Code', sans-serif;
        }

.text-mplus {
            font-family: 'M PLUS 1 Code', sans-serif;
        }

.text-mplus-b {
            font-family: 'M PLUS 1 Code', sans-serif;
            color: #2594D9;
        }
.text-lacquer {
            font-family: 'Lacquer', sans-serif;
             color: #2594D9;
        }

.bg-blue {
    background-color: #2594D9; }

    .accordion { 
        --bs-accordion-bg-color: #ffffff;
        --bs-accordion-active-bg:#ffffff;
        --bs-accordion-active-color: #2594d2
    } 

.progress {
        --bs-progress-bar-bg: #2594D9}

.btn {
    --bs-btn-color: white;
    --bs-btn-hover-color: #2594D9;}

body {
    max-width: 1200px;  
    margin: 0 auto;     
    padding: 0 20px;    
}

.navbar-toggler {
    background: #2594D9;
    --bs-navbar-toggler-border-color: none}
